html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
}

.container {
  border: 10px solid #ddd;
  border-radius: 10px;
}

canvas {
  display: block;
  visibility: hidden;
}
